h1 {text-align: center;
font-family:'Times New Roman', Times, serif;}
    body {font-family:monospace;}
    * {box-sizing: border-box;
    color: rgb(92, 29, 151);}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid cornsilk;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
body {background-image: url("video-from-rawpixel-id-17604399-sd.mp4");
background-repeat: no-repeat;
background-size: 100%;
}
.flex-container {background-color: #060953;
  color: #000000;
border: 500px;
  border-radius: 5px;
border-color: blueviolet;
text-align: center;}
nav {text-align: center;}
.flex-container2 {background-color: #ccc;
  border-radius: 5px;
border-color: blueviolet;
text-align: center;}
h3 {color: blueviolet;
text-align: center;}
